.datatable-refresh-btn:hover {
  /* Vuetify green darken-1 */
  background-color: #43A047 !important;
}

.datatable-new-btn:hover {
  /* Vuetify blue darken-1 */
  background-color: #1E88E5 !important
}

.datatable-edit-btn:hover {
  /* Vuetify orange darken-1 */
  background-color: #FB8C00 !important;
}

.datatable-delete-btn:hover {
  /* Vuetify red darken-1 */
  background-color: #B71C1C !important;
}