.datatable-refresh-btn:hover {
  /* Vuetify green */
  background-color: #4CAF50 !important;
}

.datatable-new-btn:hover {
  /* Vuetify blue */
  background-color: #2196F3 !important
}

.datatable-edit-btn:hover {
  /* Vuetify orange */
  background-color: #FF9800 !important;
}

.datatable-delete-btn:hover {
  /* Vuetify red */
  background-color: #F44336 !important;
}